################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/001_Singleton/obj
/001_Singleton/bin/Debug/net5.0
/01_Singleton/obj
/01_Singleton/bin/Debug/net5.0
